// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Firefly Electronics Co., Ltd.
 *
 */

/dts-v1/;


#include "rk3588-firefly-port.dtsi"

/ {
	model = "Firefly CS-A1-N8S-rk3588s-jd4 HDMI(Linux)";
	compatible = "rockchip,aio-3588sjd4", "rockchip,rk3588";

	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0 irqchip.gicv3_pseudo_nmi=0 root=PARTLABEL=rootfs rootfstype=ext4 ro rootwait overlayroot=device:dev=PARTLABEL=userdata,fstype=ext4,mkfs=1 coherent_pool=1m systemd.gpt_auto=0 cgroup_enable=memory swapaccount=1";
	};

	vcc_fan_ctl: vcc-fan-ctl-regulator {
			compatible = "regulator-fixed";
			regulator-name = "vcc_fan_ctl";
			regulator-always-on;
			enable-active-high;
			status = "okay";
			gpio = <&gpio3 RK_PC4 GPIO_ACTIVE_HIGH>;
	};

	vcc_3v3_sd_s0: vcc-3v3-sd-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3_sd_s0";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		vin-supply = <&vcc_3v3_s3>;
			regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	firefly_wake {
		compatible = "firefly-wake";
		status = "okay";
	};

	ds18b20_1 {
		compatible = "firefly,ds1820";
		status = "okay";
		ds1820-dq = <&gpio4 RK_PA6 GPIO_ACTIVE_LOW>; //GPIO4_A6 TEMP_DET_1
		ds18b20-id = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&ds18b20_dp_1_pin>;
	};

	ds18b20_2 {
		compatible = "firefly,ds1820";
		ds1820-dq = <&gpio4 RK_PA5 GPIO_ACTIVE_LOW>; //GPIO4_A5 TEMP_DET_2
		ds18b20-id = <2>;
		status = "okay";
		pinctrl-names = "default";
		pinctrl-0 = <&ds18b20_dp_2_pin>;
	};


	leds {
		compatible = "gpio-leds";
		status = "okay";
		/delete-node/ user;

		HUB30_PWR_EN {
			//BMC LED
			label = "HUB30_PWR_EN";
			gpios = <&gpio0 RK_PD5 GPIO_ACTIVE_HIGH>;	//GPIO0_D5
			default-state = "on";
			retain-state-shutdown;
		};

		HUB30_PWR_RESET {
			label = "HUB30_PWR_RESET";
			gpios = <&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>;   //GPIO1_C2
			default-state = "off";
			retain-state-shutdown;
		};

		NETWORK_SW_PWR_EN {
			label = "NETWORK_SW_PWR_EN";
			gpios = <&gpio3 RK_PD2 GPIO_ACTIVE_LOW>;   //GPIO3_D2
			default-state = "on";
			retain-state-shutdown;
		};

		NETWORK_INTERNAL_PWR_EN {
			label = "NETWORK_INTERNAL_PWR_EN";
			gpios = <&gpio3 RK_PC1 GPIO_ACTIVE_LOW>;   // GPIO3_C1
			default-state = "on";
		};

		// SW_9310_RESET_H {
		// 	label = "SW_9310_RESET_H";
		// 	gpios = <&gpio0 RK_PC0 GPIO_ACTIVE_HIGH>;   //GPIO0_C0
		// 	default-state = "off";
		// };


		//子板的reset脚，写0会reset子板
		PWR_EN_SUB1 {
			label = "PWR_EN_SUB1";
			gpios = <&sub_core_pca9555 PCA_IO0_0 GPIO_ACTIVE_HIGH>;	///GPIO4_B3
			default-state = "on";
			retain-state-shutdown;
		};

		PWR_EN_SUB2 {
			label = "PWR_EN_SUB2";
			gpios = <&sub_core_pca9555 PCA_IO0_1 GPIO_ACTIVE_HIGH>;	//GPIO4_B2
			default-state = "on";
			retain-state-shutdown;
		};

		PWR_EN_SUB3 {
			label = "PWR_EN_SUB3";
			gpios = <&sub_core_pca9555 PCA_IO0_2 GPIO_ACTIVE_HIGH>;	//GPIO4_D1
			default-state = "on";
			retain-state-shutdown;
		};

		PWR_EN_SUB4 {
			label = "PWR_EN_SUB4";
			gpios = <&sub_core_pca9555 PCA_IO0_3 GPIO_ACTIVE_HIGH>;	//GPIO4_D3
			default-state = "on";
			retain-state-shutdown;
		};

		PWR_EN_SUB5 {
			label = "PWR_EN_SUB5";
			gpios = <&sub_core_pca9555 PCA_IO0_4 GPIO_ACTIVE_HIGH>;	//GPIO4_D4
			default-state = "on";
			retain-state-shutdown;
		};

		PWR_EN_SUB6 {
			label = "PWR_EN_SUB6";
			gpios = <&sub_core_pca9555 PCA_IO0_5 GPIO_ACTIVE_HIGH>;	//GPIO4_D2
			default-state = "on";
			retain-state-shutdown;
		};

		PWR_EN_SUB7 {
			label = "PWR_EN_SUB7";
			gpios = <&sub_core_pca9555 PCA_IO0_6 GPIO_ACTIVE_HIGH>;	//GPIO4_B4
			default-state = "on";
			retain-state-shutdown;
		};

		PWR_EN_SUB8 {
			label = "PWR_EN_SUB8";
			gpios = <&sub_core_pca9555 PCA_IO0_7 GPIO_ACTIVE_HIGH>;	//GPIO4_D0
			default-state = "on";
			retain-state-shutdown;
		};

		////////////////////////RESET////////////////////////////

		RESET_SUB1 {
			label = "RESET_SUB1";
			gpios = <&sub_core_pca9555 PCA_IO1_0 GPIO_ACTIVE_HIGH>;	//GPIO1_C2
			default-state = "off";
			retain-state-shutdown;
		};

		RESET_SUB2 {
			label = "RESET_SUB2";
			gpios = <&sub_core_pca9555 PCA_IO1_1 GPIO_ACTIVE_HIGH>;	//GPIO1_C5
			default-state = "off";
			retain-state-shutdown;
		};

		RESET_SUB3 {
			label = "RESET_SUB3";
			gpios = <&sub_core_pca9555 PCA_IO1_2 GPIO_ACTIVE_HIGH>;	//GPIO1_C7
			default-state = "off";
			retain-state-shutdown;
		};

		RESET_SUB4 {
			label = "RESET_SUB4";
			gpios = <&sub_core_pca9555 PCA_IO1_3 GPIO_ACTIVE_HIGH>;	//GPIO1_D4
			default-state = "off";
			retain-state-shutdown;
		};

		RESET_SUB5 {
			label = "RESET_SUB5";
			gpios = <&sub_core_pca9555 PCA_IO1_4 GPIO_ACTIVE_HIGH>;	//GPIO1_C3
			default-state = "off";
			retain-state-shutdown;
		};

		RESET_SUB6 {
			label = "RESET_SUB6";
			gpios = <&sub_core_pca9555 PCA_IO1_5 GPIO_ACTIVE_HIGH>;	//GPIO1_D2
			default-state = "off";
			retain-state-shutdown;
		};

		RESET_SUB7 {
			label = "RESET_SUB7";
			gpios = <&sub_core_pca9555 PCA_IO1_6 GPIO_ACTIVE_HIGH>;	///GPIO1_D5
			default-state = "off";
			retain-state-shutdown;
		};

		RESET_SUB8 {
			label = "RESET_SUB8";
			gpios = <&sub_core_pca9555 PCA_IO1_7 GPIO_ACTIVE_HIGH>;	//GPIO1_C4
			default-state = "off";
			retain-state-shutdown;
		};

		BUZZER {
			//BMC LED
			label = "BUZZER";
			gpios = <&gpio1 RK_PC5 GPIO_ACTIVE_HIGH>;	//GPIO1_C5
			default-state = "off";
			pinctrl-names = "default";
			pinctrl-0 = <&buzzer_ctl>;
		};

		PWR_EN_4G {
			//BMC LED
			label = "PWR_EN_4G";
			gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;	//GPIO1_B1
			default-state = "on";
		};
	};
};

// FAN_PWM
&pwm10 {
	pinctrl-0 = <&pwm10m2_pins>;
	status = "okay";
};

&i2c2 {
	status = "okay";
 };

&power_led {
	gpios = <&gpio0 RK_PC4 GPIO_ACTIVE_HIGH>;
};

&i2s0_8ch{
	status = "disabled";
};

/* display port0 */
&dp0_sound{
		status = "okay";
};

&dp0 {
	status = "okay";
};

&dp0_in_vp2 {
	status = "okay";
};

/* hdmi0 */
&hdmi0 {
	enable-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
	status = "okay";
};

&hdmi0_in_vp0 {
	status = "okay";
};

&hdmi0_sound {
		status = "okay";
};

&hdptxphy_hdmi0 {
	status = "okay";
};

&route_hdmi0{
	status = "okay";
};

/* pcie2.0 */
&combphy0_ps {
	status = "okay";
};

&pcie2x1l1 {
	//reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	status = "disabled";
};

&sata2 {
	status = "disabled";
};



//pci
&pcie2x1l2 {
	//reset-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	reset-gpios = <&gpio3 RK_PD1 GPIO_ACTIVE_HIGH>;
	//prsnt-gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
	rockchip,skip-scan-in-resume;
	status = "okay";
};

/* usb3.0 */
&combphy2_psu {
	status = "okay";
};

&usbhost3_0 {
	status = "okay";
};

&usbhost_dwc3_0 {
	status = "okay";
	dr_mode = "host";
};


&vcc5v0_host {
	status = "okay";
 	// /delete-property/ regulator-boot-on;
	gpio = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;		//GPIO4_B5_d
	// /delete-property/ pinctrl-names;
	// /delete-property/ pinctrl-0;
};

// /* usb2.0 hub */
// &vcc_hub_reset {
// 	status = "okay";
// 	regulator-name = "vcc_hub2_reset";
// 	gpio = <&pca9555 PCA_IO0_7 GPIO_ACTIVE_HIGH>;
// };


/* typec0 */
&vbus5v0_typec_pwr_en {
	status = "okay";
	regulator-min-microvolt = <5000000>;
	regulator-max-microvolt = <5000000>;
	gpios = <&gpio4 RK_PA7 GPIO_ACTIVE_HIGH>;   ///GPIO4_A7

	vin-supply = <&vcc5v0_usb>;
	pinctrl-names = "default";
	pinctrl-0 = <&vbus5v0_typec_pwr_en_gpio>;
};

&gmac1{
 	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	phy-mode = "rgmii";
	tx_delay = <0x45>;
	rx_delay = <0x34>;
	status = "okay";
};

&spi1 {
	status = "okay";
	max-freq = <48000000>;
	dev-port = <0>;
	pinctrl-0 = <&spi1m2_pins>;
	num-cs = <1>;

	spi_wk2xxx_2: spi_wk2xxx_2@0{
		status = "okay";
		compatible = "firefly,spi-wk2xxx";
		reg = <0x00>;
		index_base = <5>;
		spi-max-frequency = <10000000>;
		//power-gpio = <&gpio2 4 GPIO_ACTIVE_HIGH>;

		reset-gpio = <&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>;		//WK2124_RST_2	GPIO1_C4
		irq-gpio = <&gpio1 RK_PC3 IRQ_TYPE_EDGE_FALLING>;	//WK2124_INT_2	GPIO1_C3
		cs-gpio = <&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;			//SPI1_CS0_M2	GPIO1_D3

		pinctrl-0 = <&wk2xxx_2_irq_gpios>;
		pinctrl-names = "default";
	};
};

/* PMIC spi2 */
&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&spi2m2_cs0 &spi2m2_pins>;
	num-cs = <1>;
};

&spi4 {
	status = "okay";
	max-freq = <48000000>;
	dev-port = <0>;
	pinctrl-0 = <&spi4m2_pins>;
	num-cs = <1>;

	spi_wk2xxx_1: wk2xxx_spi@0{
		status = "okay";
		compatible = "firefly,spi-wk2xxx";
		reg = <0x00>;
		index_base = <1>;
		spi-max-frequency = <10000000>;
		reset-gpio = <&gpio1 RK_PD5 GPIO_ACTIVE_HIGH>;		//WK2124_RST_1	GPIO1_D5
		irq-gpio = <&gpio1 RK_PB2 IRQ_TYPE_EDGE_FALLING>;	//WK2124_INT_1	GPIO1_B2
		cs-gpio = <&gpio1 RK_PA3 GPIO_ACTIVE_HIGH>;			//SPI4_CS0_M2	GPIO1_A3

		//pinctrl-0 = <&reset_gpios>,<&irq_gpios>,<&cs_gpios>;
		//pinctrl-names = "default";
		pinctrl-0 = <&wk2xxx_1_irq_gpios>;
		pinctrl-names = "default";
	};
};

&sdmmc {
	status = "disabled";
	vmmc-supply = <&vcc_3v3_sd_s0>;
};

&i2c2 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c2m0_xfer>;
};

&i2c4 {
	status = "disabled";
	pinctrl-names = "default";
	pinctrl-0 = <&i2c4m3_xfer>;
};


&i2c3 {
	status = "okay";
	clock-frequency = <400000>;
	pinctrl-names = "default";
	pinctrl-0 = <&i2c3m4_xfer>;

	sub_core_pca9555: gpio@20 {
		status = "okay";
		compatible = "nxp,pca9555";
		reg = <0x20>;
		gpio-controller;
		#gpio-cells = <2>;
		gpio-group-num = <250>;
    };
};


&vccio_sd_s0 {
    regulator-min-microvolt = <3300000>;
    regulator-max-microvolt = <3300000>;
    //regulator-name = "vccio_sd_s0";
	regulator-name = "vccio_sub_core_pca9555_s0";
};


// &i2c5 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&i2c5m1_xfer>;
// };

&i2c6 {
	status = "okay";
	clock-frequency = <400000>;
   	pinctrl-names = "default";
	pinctrl-0 = <&i2c6m3_xfer>;

	hym8563: hym8563@51 {
		compatible = "haoyu,hym8563";
		reg = <0x51>;
		#clock-cells = <0>;
		clock-frequency = <32768>;
		clock-output-names = "hym8563";
		pinctrl-names = "default";
		pinctrl-0 = <&hym8563_int>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB0 IRQ_TYPE_LEVEL_LOW>;
		wakeup-source;
		status = "okay";
	};

	pc9202: pc9202@3c {
		status = "okay";
		compatible = "firefly,pc9202";
		reg = <0x3c>;
		wd-en-gpio = <&gpio4 RK_PB2 GPIO_ACTIVE_HIGH>;         //GPIO4_B2
		pinctrl-names = "default";
		pinctrl-0 = <&wdt_ctl>;
	};


	pca9555: gpio@21 {
               status = "disabled";
               compatible = "nxp,pca9555";
               reg = <0x21>;
               gpio-controller;
               #gpio-cells = <2>;
               gpio-group-num = <200>;
       };


	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio3>;
		interrupts = <RK_PC4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec_pwr_en>;
		status = "okay";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				usbc0_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 1000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};

};

// &usbdrd_dwc3_0 {
// 	dr_mode = "host";
// };

&usbdp_phy0 {
	sbu1-dc-gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;
	sbu2-dc-gpios = <&gpio4 RK_PD5 GPIO_ACTIVE_HIGH>;
};

//for dp
&spdif_tx2 {
	status = "okay";
};

// &can2 {
//     status = "okay";
//     pinctrl-names = "default";
//     pinctrl-0 = <&can2m1_pins>;
// };

// &uart0 {
//     status = "okay";
//     pinctrl-names = "default";
//     pinctrl-0 = <&uart0m2_xfer>;
// };

// &uart3 {
//     status = "okay";
//     pinctrl-names = "default";
//     pinctrl-0 = <&uart3m2_xfer>;
// };

&pinctrl {

	buzzer_pin {
		buzzer_ctl: buzzer-ctl {
				rockchip,pins =
				<1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none>;            //GPIO1_C5
		};
	};

	watchdog {
		wdt_ctl: wdt-ctl {
				rockchip,pins =
				<4 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;            //GPIO3_D0
		};
	};

	vbus5v0-typec {
		vbus5v0_typec_pwr_en_gpio: vbus5v0-typec-pwr-en-gpio {
			rockchip,pins = <4 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	network-reset {
		SW_9310_RESET_H_PIN: SW-9310-RESET-H-PIN {
			rockchip,pins = <0 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;  //GPIO0_C0
		};
	};

	ds18b20-dp-1 {
		ds18b20_dp_1_pin: ds18b20-dp-1-pin {
			rockchip,pins = <4 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none>;  //GPIO4_A6
		};
	};

	ds18b20-dp-2 {
		ds18b20_dp_2_pin: ds18b20-dp-2-pin {
			rockchip,pins = <4 RK_PA5 RK_FUNC_GPIO &pcfg_pull_none>;  //GPIO4_A5
		};
	};

	leds {
		leds_gpio: leds-gpio {
			rockchip,pins =
						/* led_user */
						//<1 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>,
						/* led_power */
						<1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	headphone {
		hp_det: hp-det {
			rockchip,pins = <1 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	hym8563 {
		hym8563_int: hym8563-int {
			rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	usb-typec {
		usbc0_int: usbc0-int {
			rockchip,pins = <3 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};

	};

        wireless-bluetooth {
                uart9_gpios: uart9-gpios {
                        rockchip,pins = <3 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
                };

                bt_reset_gpio: bt-reset-gpio {
                        rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
                };

                bt_wake_gpio: bt-wake-gpio {
                        rockchip,pins = <0 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
                };

                bt_irq_gpio: bt-irq-gpio {
                        rockchip,pins = <0 RK_PC5 RK_FUNC_GPIO &pcfg_pull_down>;
                };
        };

        wireless-wlan {
                wifi_host_wake_irq: wifi-host-wake-irq {
                        rockchip,pins = <0 RK_PA0 RK_FUNC_GPIO &pcfg_pull_down>;
                };

                wifi_poweren_gpio: wifi-poweren-gpio {
                        rockchip,pins = <0 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
                };
        };

	wk2xxx-irq-gpios {
		wk2xxx_1_irq_gpios: wk2xxx-1-irq-gpios{
			rockchip,pins = <1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};

		wk2xxx_2_irq_gpios: wk2xxx-2-irq-gpios{
			rockchip,pins = <1 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};
