// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2021 Rockchip Electronics Co., Ltd.
 *
 */

#include "rk3588-firefly-port.dtsi"

/ {
	chosen: chosen {
		bootargs = "earlycon=uart8250,mmio32,0xfeb50000 console=ttyFIQ0 irqchip.gicv3_pseudo_nmi=0 root=PARTLABEL=rootfs rootfstype=ext4 ro rootwait overlayroot=device:dev=PARTLABEL=userdata,fstype=ext4,mkfs=1 coherent_pool=1m systemd.gpt_auto=0 cgroup_enable=memory swapaccount=1";
	};

	firefly_leds: leds {
		power_led: power {
			gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;//blue led
			pinctrl-names = "default";
			pinctrl-0 = <&led_power>;
		};

		user_led: user {
			gpios = <&gpio4 RK_PB4 GPIO_ACTIVE_HIGH>;//red led
			pinctrl-names = "default";
			pinctrl-0 = <&led_user>;
		};
	};

    vcc_3v3_sd_s0: vcc-3v3-sd-s0 {                                                                                                                                      
        compatible = "regulator-fixed";
        regulator-name = "vcc_3v3_sd_s0";
        regulator-min-microvolt = <3300000>;
        regulator-max-microvolt = <3300000>;
        gpios = <&gpio3 RK_PC6 GPIO_ACTIVE_HIGH>;
        pinctrl-names = "default";
        pinctrl-0 = <&sdmmc_pwr>;
        enable-active-high;
        vin-supply = <&vcc_3v3_s3>;
            regulator-state-mem {
            regulator-off-in-suspend;
        };
    };

    wdt_pwr: wdt-pwr-regulator {                                                   
        compatible = "regulator-fixed";
        enable-active-high;
        regulator-always-on;
        regulator-boot-on;
        pinctrl-names = "default";
        //gpios = <&gpio4 RK_PB5 GPIO_ACTIVE_HIGH>;
        pinctrl-0 = <&wdt_pwr_drv>;
        regulator-name = "wdt_pwr";
    };
};

/* usb2 host */
&u2phy2 {
	status = "disabled";
};

&u2phy2_host {
	status = "disabled";
};

&u2phy3 {
	status = "disabled";
};

&u2phy3_host {
	status = "disabled";
};

/* typec0 */
&usbdp_phy0 {
       status = "disabled";
};
&usbdp_phy0_dp {
       status = "disabled";
};
&usbdp_phy0_u3 {
       status = "disabled";
};

&u2phy0_otg {
	/delete-property/ rockchip,typec-vbus-det;
};

&usbdrd_dwc3_0 {
       dr_mode = "peripheral";
       phys = <&u2phy0_otg>;
       phy-names = "usb2-phy";
       maximum-speed = "high-speed";                                                                                                                                    
};

/* hdmi0 */                                                                                                                                                             
&hdmi0 {
    enable-gpios = <&gpio4 RK_PB6 GPIO_ACTIVE_HIGH>;
    status = "okay";
};

&hdmi0_in_vp0 {
    status = "okay";
};

&hdmi0_sound {
        status = "okay";
};

&hdptxphy_hdmi0 {
    status = "okay";
};

&route_hdmi0{
    status = "okay";
};

&sdmmc {
    status = "okay";
    vmmc-supply = <&vcc_3v3_sd_s0>;                                                                                                                                     
};

&gmac1{
	phy-mode = "rgmii";
 	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	tx_delay = <0x3e>;
	rx_delay = <0x35>;
	status = "okay";
};

&i2c6 {
	status = "okay";
   	pinctrl-names = "default";
    pinctrl-0 = <&i2c6m3_xfer>;

    pc9202@3c {
        status = "okay";
        compatible = "firefly,pc9202";
        reg = <0x3c>;

        wd-en-gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
    };

	pca9555: gpio@21 {
               status = "disabled";
               compatible = "nxp,pca9555";
               reg = <0x21>;
               gpio-controller;
               #gpio-cells = <2>;
               gpio-group-num = <200>;
       };


	usbc0: fusb302@22 {
		compatible = "fcs,fusb302";
		reg = <0x22>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PC4 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usbc0_int>;
		vbus-supply = <&vbus5v0_typec_pwr_en>;
		status = "disabled";

		ports {
			#address-cells = <1>;
			#size-cells = <0>;

			port@0 {
				reg = <0>;
				usbc0_role_sw: endpoint@0 {
					remote-endpoint = <&dwc3_0_role_switch>;
				};
			};
		};

		usb_con: connector {
			compatible = "usb-c-connector";
			label = "USB-C";
			data-role = "dual";
			power-role = "dual";
			try-power-role = "sink";
			op-sink-microwatt = <1000000>;
			sink-pdos =
				<PDO_FIXED(5000, 1000, PDO_FIXED_USB_COMM)>;
			source-pdos =
				<PDO_FIXED(5000, 3000, PDO_FIXED_USB_COMM)>;

			altmodes {
				#address-cells = <1>;
				#size-cells = <0>;

				altmode@0 {
					reg = <0>;
					svid = <0xff01>;
					vdo = <0xffffffff>;
				};
			};

			ports {
				#address-cells = <1>;
				#size-cells = <0>;

				port@0 {
					reg = <0>;
					usbc0_orien_sw: endpoint {
						remote-endpoint = <&usbdp_phy0_orientation_switch>;
					};
				};

				port@1 {
					reg = <1>;
					dp_altmode_mux: endpoint {
						remote-endpoint = <&usbdp_phy0_dp_altmode_mux>;
					};
				};
			};
		};
	};

};


&pinctrl {
	leds {
		led_user: led-user {
			rockchip,pins = <4 RK_PB4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		led_power: led-power {
			rockchip,pins = <4 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

       headphone {
               hp_det: hp-det {
                       rockchip,pins = <1 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
               };
       };

       hym8563 {
               hym8563_int: hym8563-int {
                       rockchip,pins = <0 RK_PB0 RK_FUNC_GPIO &pcfg_pull_up>;
               };
       };

	usb-typec {
		usbc0_int: usbc0-int {
			rockchip,pins = <0 RK_PC4 RK_FUNC_GPIO &pcfg_pull_up>;
		};

	};

    wdt-pwr {
        wdt_pwr_drv: wdt-pwr-drv {                                                 
            rockchip,pins = <4 RK_PB5 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

    sdmmc {
        sdmmc_pwr: sdmmc-pwr {
            rockchip,pins = <3 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
        };
    };

};
